15-10-2014(HttpRequest Array + Web Service)/Web Service Work/TestWebService/TestWebService/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Name">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NameResult" type="tns:MyObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MyObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Name_x0020__x0026__x0020_Age">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Name_x0020__x0026__x0020_AgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name_x0020__x0026__x0020_AgeResult" type="tns:MyObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NameSoapIn">
    <wsdl:part name="parameters" element="tns:Name" />
  </wsdl:message>
  <wsdl:message name="NameSoapOut">
    <wsdl:part name="parameters" element="tns:NameResponse" />
  </wsdl:message>
  <wsdl:message name="Name_x0020__x0026__x0020_AgeSoapIn">
    <wsdl:part name="parameters" element="tns:Name_x0020__x0026__x0020_Age" />
  </wsdl:message>
  <wsdl:message name="Name_x0020__x0026__x0020_AgeSoapOut">
    <wsdl:part name="parameters" element="tns:Name_x0020__x0026__x0020_AgeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input name="Name" message="tns:NameSoapIn" />
      <wsdl:output name="Name" message="tns:NameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input name="Name_x0020__x0026__x0020_Age" message="tns:Name_x0020__x0026__x0020_AgeSoapIn" />
      <wsdl:output name="Name_x0020__x0026__x0020_Age" message="tns:Name_x0020__x0026__x0020_AgeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/Name" style="document" />
      <wsdl:input name="Name">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Name">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/Name &amp; Age" style="document" />
      <wsdl:input name="Name_x0020__x0026__x0020_Age">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Name_x0020__x0026__x0020_Age">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/Name" style="document" />
      <wsdl:input name="Name">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Name">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/Name &amp; Age" style="document" />
      <wsdl:input name="Name_x0020__x0026__x0020_Age">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Name_x0020__x0026__x0020_Age">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6899/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6899/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>