18-10-2014(Demo Robi App)/SMSSendingApp(Demo Shahnawaz with PHP Web Service)/robi/robi/Web References/localhost/server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:server" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:server">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Person">
        <xsd:all>
          <xsd:element name="id_user" type="xsd:int" />
          <xsd:element name="fullname" type="xsd:string" />
          <xsd:element name="email" type="xsd:string" />
          <xsd:element name="level" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="helloRequest">
    <wsdl:part name="username" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="username" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="tns:Person" />
  </wsdl:message>
  <wsdl:portType name="serverPortType">
    <wsdl:operation name="hello">
      <documentation>Just say hello</documentation>
      <wsdl:input message="tns:helloRequest" />
      <wsdl:output message="tns:helloResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <documentation>Check user login</documentation>
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serverBinding" type="tns:serverPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="hello">
      <soap:operation soapAction="urn:server#helloServer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:server#loginServer" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:server" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:server" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="server">
    <wsdl:port name="serverPort" binding="tns:serverBinding">
      <soap:address location="http://localhost:8080/WebServiceSOAP/server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>